{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}

<div class="slogan container h-100 d-none">
    <div class="row h-100">
        <div class="col my-auto"></div>
        <h1>
            Unlock Potential <br>
            <span>Scale New Heights <br>
                Mentoring with Stairway Success</span>
        </h1>
    </div>
</div>
</div>
{% endblock %}