{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row justify-content-center mt-5">
        <div class="col-6 text-center">
            <h2>Work with Me</h2>
            <p>Subscribing to a motivation coach can be a transformative investment in yourself.</p>
            <p class="d-inline-flex gap-1">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseEx" aria-expanded="false" aria-controls="collapseExample">
                    Here's why:
                </button>
            </p>
            <div class="collapse" id="collapseEx">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse1" aria-expanded="true" aria-controls="collapseOne">
                                Personalized Guidance:
                            </button>
                        </h3>
                        <div id="collapse1" class="accordion-collapse collapse show"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                A motivation coach tailors their guidance specifically to your needs, goals, and
                                challenges. They'll work with you one-on-one to understand what drives you and what
                                holds you back, crafting a personalized plan for growth.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse2" aria-expanded="true" aria-controls="collapseOne">
                                Accountability:
                            </button>
                        </h3>
                        <div id="collapse2" class="accordion-collapse collapse "
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                It's easy to let goals slip when there's no one holding you accountable.
                                A motivation coach serves as your accountability partner, helping you stay on
                                track and pushing you to reach your full potential.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapseOne">
                                Overcoming Obstacles:
                            </button>
                        </h3>
                        <div id="collapse3" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Everyone faces obstacles on their journey to success. A motivation coach helps you
                                identify and overcome these obstacles, providing strategies and support to navigate
                                challenges effectively.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapseOne">
                                Boosted Confidence:
                            </button>
                        </h3>
                        <div id="collapse4" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                With the guidance and encouragement of a motivation coach, you'll start to believe
                                in yourself and your abilities more. As you achieve milestones and overcome hurdles,
                                your confidence will soar, empowering you to tackle even bigger goals.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h3 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse5" aria-expanded="true" aria-controls="collapseOne">
                                Consistent Progress:
                            </button>
                        </h3>
                        <div id="collapse5" class="accordion-collapse collapse"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                Consistency is key to long-term success, but it's not always easy to maintain.
                                A motivation coach helps you establish healthy habits and routines, ensuring that
                                you make progress every step of the way.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse6" aria-expanded="true" aria-controls="collapseOne">
                                    Mindset Shifts:
                                </button>
                            </h3>
                            <div id="collapse6" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    Sometimes, the biggest barriers to success are mental. A motivation coach helps
                                    you identify limiting beliefs and negative thought patterns, replacing them with
                                    positive affirmations and a growth mindset.
                                </div>
                            </div>
                        </div>
                    <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse7" aria-expanded="true" aria-controls="collapseOne">
                                    Holistic Approach:
                                </button>
                            </h3>
                            <div id="collapse7" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    A motivation coach doesn't just focus on one area of your life. They take a holistic
                                    approach, considering all aspects of your well-being—physical, mental, emotional,
                                    and spiritual—and helping you achieve balance and fulfillment in each area.
                                </div>
                            </div>
                        </div>
                    <div class="accordion-item">
                            <h3 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapse8" aria-expanded="true" aria-controls="collapseOne">
                                    Long-Term Success:
                                </button>
                            </h3>
                            <div id="collapse8" class="accordion-collapse collapse"
                                 data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    The insights and skills you gain from working with a motivation coach aren't just
                                    for the short term—they're tools you can use for a lifetime. Investing in yourself
                                    now can lead to sustained success and happiness in the future.
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-5">

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Monthly Subscriptions:</h5>
                        <p class="card-text">Flexibility, affordability, convenience. Try new services, easy budgeting,
                            no long-term commitment. Monthly subscriptions adapt to your needs.</p>
                        <a href="#" class="btn btn-primary">£350</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Quarterly Subscriptions:</h5>
                        <p class="card-text">Convenience and value. Longer interval between renewals. Enjoy seasonal
                            or themed deliveries. Easy to manage and budget.</p>
                        <a href="#" class="btn btn-primary">£900</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title">Annual Subscriptions:</h5>
                        <p class="card-text">Save money, consistent access, long-term commitment. Simplified budgeting,
                            convenience, and uninterrupted service.</p>
                        <a href="#" class="btn btn-primary">£2500</a>
                    </div>
                </div>
            </div>
        </div>


    </div>
    {% endblock %}

    <p class="d-inline-flex gap-1">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Here's why:
        </button>
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Some placeholder content for the collapse component. This panel is hidden by default but revealed when the
            user
            activates the relevant trigger.
        </div>
    </div>